.zui-table {
  border: solid 1px #2e94b9;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
}
.zui-table thead th {
  background-color: #ddefef;
  border: solid 1px #2e94b9;
  color: #336b6b;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
  border-top: solid 1px #2e94b9;
  border-bottom: solid 1px #2e94b9;
  color: #333;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-shadow: 1px 1px 1px #fff;
}
